.overlay-module {
  background-color: $color-white;
  width: $proj-mod-width;
  margin: 5rem auto;


  overflow:auto;

   &__header {
      width: 100%;
      text-align: center;
      margin-top: 2rem;
      display: block;
   }

   &__content {
      position: relative;
      display: block;
      padding: 0 5rem 0rem 5rem;
      width: 100%;

      &--button {
        margin: 5rem 0 2rem 0;
      }
   }
    z-index: 999;
}

.close-overlay--button {
   position: relative;
   float: right;
   right: 1.5rem;
   width: 3rem;
   height: 3rem;
   opacity: 0.3;

   @include respond (tab-port) {

   }

 }
 .close-overlay--button:hover {
   opacity: 1;
 }
 .close-overlay--button:before, .close-overlay--button:after {
   position: absolute;
   left: 15px;
   content: ' ';
   height: 3.3rem;
   width: 2px;
   background-color: #333;
   @include respond (phone) {
    height: 1.5rem
   }
 }
 .close-overlay--button:before {
   transform: rotate(45deg);
 }
 .close-overlay--button:after {
   transform: rotate(-45deg);
 }

 .module-image {
   width: 80%;
   margin-left: 10%;
 }
