.u-center-text {
   text-align: center;
}

.u-margin-bottom-8 {
   margin-bottom: 8rem;
}

.u-bold-text {
   font-weight: 700;
   color: $color-black;
   // background-color: $color-dark-grey;
   text-transform: uppercase;
   padding: .5rem 1rem;
}

.u-float-right {
   float:right;
}

.u-debug {
   background-color: red;
}

.u-hidden {
   display: none;
}